.footer {
    background-color: var(--secondary);
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px;
}

.footerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-width: 270px;
    border-bottom: 2px solid var(--dark);
}

.footerItemCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 270px;
}

.footerItemRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    min-width: 270px;
    border-bottom: 2px solid var(--dark);
}

.centerIcon {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerHeader {
    font-weight: 700;
}

.footer a:hover {
    text-decoration: 1.5px underline;
}

@media only screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        gap: 20px;
    }

    .footerItemRight {
        align-items: center;
        border-bottom: none;
    }

    .footerItem {
        align-items: center;
        border-bottom: none;
    }
}